<a href="https://colab.research.google.com/github/vishnudas-1212/machine-learning/blob/main/knn(candidate).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
df=pd.read_csv('/content/candidate.csv')

In [29]:
df

    Unnamed: 0  gmat  gpa  work_experience  admitted
0            0   780  4.0                3         1
1            1   750  3.9                4         1
2            2   690  3.3                3         0
3            3   710  3.7                5         1
4            4   680  3.9                4         0
5            5   730  3.7                6         1
6            6   690  2.3                1         0
7            7   720  3.3                4         1
8            8   740  3.3                5         1
9            9   690  1.7                1         0
10          10   610  2.7                3         0
11          11   690  3.7                5         1
12          12   710  3.7                6         1
13          13   680  3.3                4         0
14          14   770  3.3                3         1
15          15   610  3.0                1         0
16          16   580  2.7                4         0
17          17   650  3.7                6         1
18          18   540  2.7                2         0
19          19   590  2.3                3         0
20          20   620  3.3                2         1
21          21   600  2.0                1         0
22          22   550  2.3                4         0
23          23   550  2.7                1         0
24          24   570  3.0                2         0
25          25   670  3.3                6         1
26          26   660  3.7                4         1
27          27   580  2.3                2         0
28          28   650  3.7                6         1
29          29   660  3.3                5         1
30          30   640  3.0                1         0
31          31   620  2.7                2         0
32          32   660  4.0                4         1
33          33   660  3.3                6         1
34          34   680  3.3                5         1
35          35   650  2.3                1         0
36          36   670  2.7                2         0
37          37   580  3.3                1         0
38          38   590  1.7                4         0
39          39   690  3.7                5         1

In [30]:
df.describe()

       Unnamed: 0        gmat        gpa  work_experience   admitted
count   40.000000   40.000000  40.000000        40.000000  40.000000
mean    19.500000  654.000000   3.095000         3.425000   0.475000
std     11.690452   61.427464   0.631218         1.737778   0.505736
min      0.000000  540.000000   1.700000         1.000000   0.000000
25%      9.750000  607.500000   2.700000         2.000000   0.000000
50%     19.500000  660.000000   3.300000         4.000000   0.000000
75%     29.250000  690.000000   3.700000         5.000000   1.000000
max     39.000000  780.000000   4.000000         6.000000   1.000000

In [31]:
df.isnull().sum()

Unnamed: 0         0
gmat               0
gpa                0
work_experience    0
admitted           0
dtype: int64

In [32]:
(df[['gmat','gpa',	'work_experience'	,'admitted']]==0).sum()

gmat                0
gpa                 0
work_experience     0
admitted           21
dtype: int64

In [33]:
df

    Unnamed: 0  gmat  gpa  work_experience  admitted
0            0   780  4.0                3         1
1            1   750  3.9                4         1
2            2   690  3.3                3         0
3            3   710  3.7                5         1
4            4   680  3.9                4         0
5            5   730  3.7                6         1
6            6   690  2.3                1         0
7            7   720  3.3                4         1
8            8   740  3.3                5         1
9            9   690  1.7                1         0
10          10   610  2.7                3         0
11          11   690  3.7                5         1
12          12   710  3.7                6         1
13          13   680  3.3                4         0
14          14   770  3.3                3         1
15          15   610  3.0                1         0
16          16   580  2.7                4         0
17          17   650  3.7                6         1
18          18   540  2.7                2         0
19          19   590  2.3                3         0
20          20   620  3.3                2         1
21          21   600  2.0                1         0
22          22   550  2.3                4         0
23          23   550  2.7                1         0
24          24   570  3.0                2         0
25          25   670  3.3                6         1
26          26   660  3.7                4         1
27          27   580  2.3                2         0
28          28   650  3.7                6         1
29          29   660  3.3                5         1
30          30   640  3.0                1         0
31          31   620  2.7                2         0
32          32   660  4.0                4         1
33          33   660  3.3                6         1
34          34   680  3.3                5         1
35          35   650  2.3                1         0
36          36   670  2.7                2         0
37          37   580  3.3                1         0
38          38   590  1.7                4         0
39          39   690  3.7                5         1

In [38]:
X=df.iloc[:,:4]

In [40]:
X.head()

   Unnamed: 0  gmat  gpa  work_experience
0           0   780  4.0                3
1           1   750  3.9                4
2           2   690  3.3                3
3           3   710  3.7                5
4           4   680  3.9                4

In [45]:
y=df.iloc[:,4]

In [46]:
y

0     1
1     1
2     0
3     1
4     0
5     1
6     0
7     1
8     1
9     0
10    0
11    1
12    1
13    0
14    1
15    0
16    0
17    1
18    0
19    0
20    1
21    0
22    0
23    0
24    0
25    1
26    1
27    0
28    1
29    1
30    0
31    0
32    1
33    1
34    1
35    0
36    0
37    0
38    0
39    1
Name: admitted, dtype: int64

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=23)

In [50]:
X_train,X_test,y_train,y_test

(    Unnamed: 0  gmat  gpa  work_experience
 7            7   720  3.3                4
 24          24   570  3.0                2
 1            1   750  3.9                4
 15          15   610  3.0                1
 37          37   580  3.3                1
 16          16   580  2.7                4
 29          29   660  3.3                5
 0            0   780  4.0                3
 5            5   730  3.7                6
 21          21   600  2.0                1
 11          11   690  3.7                5
 2            2   690  3.3                3
 17          17   650  3.7                6
 35          35   650  2.3                1
 13          13   680  3.3                4
 34          34   680  3.3                5
 6            6   690  2.3                1
 39          39   690  3.7                5
 25          25   670  3.3                6
 26          26   660  3.7                4
 27          27   580  2.3                2
 12          12   710  3.7                6
 31          31   620  2.7                2
 9            9   690  1.7                1
 38          38   590  1.7                4
 19          19   590  2.3                3,
     Unnamed: 0  gmat  gpa  work_experience
 18          18   540  2.7                2
 23          23   550  2.7                1
 8            8   740  3.3                5
 22          22   550  2.3                4
 33          33   660  3.3                6
 32          32   660  4.0                4
 10          10   610  2.7                3
 3            3   710  3.7                5
 14          14   770  3.3                3
 30          30   640  3.0                1
 28          28   650  3.7                6
 20          20   620  3.3                2
 36          36   670  2.7                2
 4            4   680  3.9                4,
 7     1
 24    0
 1     1
 15    0
 37    0
 16    0
 29    1
 0     1
 5     1
 21    0
 11    1
 2     0
 17    1
 35    0
 13    0
 34    1
 6     0
 39    1
 25    1
 26    1
 27    0
 12    1
 31    0
 9     0
 38    0
 19    0
 Name: admitted, dtype: int64,
 18    0
 23    0
 8     1
 22    0
 33    1
 32    1
 10    0
 3     1
 14    1
 30    0
 28    1
 20    1
 36    0
 4     0
 Name: admitted, dtype: int64)

In [51]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((26, 4), (14, 4), (26,), (14,))

In [52]:
from sklearn.neighbors import KNeighborsClassifier

In [53]:
model=KNeighborsClassifier()

In [54]:
model.fit(X_test,y_test)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [59]:
y_pred=model.predict(X_test)

In [60]:
y_pred

array([0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [70]:
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score,recall_score,classification_report,precision_score

In [62]:
accuracy_score(y_test,y_pred)

0.7142857142857143

In [64]:
recall_score(y_test,y_pred)

1.0

In [66]:
f1_score(y_test,y_pred)

0.7777777777777778

In [74]:

precision_score(y_test,y_pred)

0.6363636363636364

In [71]:
confusion_matrix(y_test,y_pred)

array([[3, 4],
       [0, 7]])

In [72]:
pd.crosstab(y_test,y_pred)

col_0     0  1
admitted
0         3  4
1         0  7

In [73]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.43      0.60         7
           1       0.64      1.00      0.78         7

    accuracy                           0.71        14
   macro avg       0.82      0.71      0.69        14
weighted avg       0.82      0.71      0.69        14