<a href="https://colab.research.google.com/github/vishnudas-1212/machine-learning/blob/main/knn(adult_income_dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
  import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/content/adult.csv')

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
label=LabelEncoder()

In [5]:
new_df= df.apply(label.fit_transform)

In [6]:
new_df

       age  workclass  fnlwgt  ...  hours.per.week  native.country  income
0       72          0    2649  ...              39              39       0
1       65          4    6514  ...              17              39       0
2       49          0   11175  ...              39              39       0
3       37          4    7009  ...              39              39       0
4       24          4   16850  ...              39              39       0
...    ...        ...     ...  ...             ...             ...     ...
32556    5          4   18560  ...              39              39       0
32557   10          4   16528  ...              37              39       0
32558   23          4    8080  ...              39              39       1
32559   41          4    7883  ...              39              39       0
32560    5          4   12881  ...              19              39       0

[32561 rows x 15 columns]

In [7]:
new_df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [13]:
x=new_df.iloc[:,:-1]

In [14]:
y=new_df.iloc[:,-1]

In [15]:
y

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    0
32558    1
32559    0
32560    0
Name: income, Length: 32561, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=23)

In [19]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((21815, 14), (10746, 14), (21815,), (10746,))

In [20]:
from sklearn.neighbors import KNeighborsClassifier

In [59]:
model=KNeighborsClassifier(10)

In [60]:
model.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [61]:
y_pred=model.predict(x_test)

In [62]:
y_pred

array([0, 1, 0, ..., 1, 0, 0])

In [63]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [68]:
accuracy_score(y_test,y_pred)*100

78.47571189279732

In [65]:
confusion_matrix(y_test,y_pred)

array([[7854,  220],
       [2093,  579]])

In [67]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.97      0.87      8074
           1       0.72      0.22      0.33      2672

    accuracy                           0.78     10746
   macro avg       0.76      0.59      0.60     10746
weighted avg       0.77      0.78      0.74     10746