<a href="https://colab.research.google.com/github/vishnudas-1212/machine-learning/blob/main/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
df=pd.read_csv('/content/diabetes.csv')

In [71]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [72]:
df.describe()  #replace 0s with number

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [73]:
df.fillna(0)

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [74]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [75]:
(df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]==0).sum() #getting the count of zero values and replacing it

Pregnancies      111
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [76]:
df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]=(df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.nan))

In [77]:
df

     Pregnancies  Glucose  ...  Age  Outcome
0            6.0    148.0  ...   50        1
1            1.0     85.0  ...   31        0
2            8.0    183.0  ...   32        1
3            1.0     89.0  ...   21        0
4            NaN    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763         10.0    101.0  ...   63        0
764          2.0    122.0  ...   27        0
765          5.0    121.0  ...   30        0
766          1.0    126.0  ...   47        1
767          1.0     93.0  ...   23        0

[768 rows x 9 columns]

In [78]:
df.fillna(value=df.mean(),inplace=True)

In [79]:
df

     Pregnancies  Glucose  ...  Age  Outcome
0       6.000000    148.0  ...   50        1
1       1.000000     85.0  ...   31        0
2       8.000000    183.0  ...   32        1
3       1.000000     89.0  ...   21        0
4       4.494673    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763    10.000000    101.0  ...   63        0
764     2.000000    122.0  ...   27        0
765     5.000000    121.0  ...   30        0
766     1.000000    126.0  ...   47        1
767     1.000000     93.0  ...   23        0

[768 rows x 9 columns]

In [80]:
#split data

X=df.iloc[:,:-1]

In [81]:
X

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0       6.000000    148.0           72.0  ...  33.6                     0.627   50
1       1.000000     85.0           66.0  ...  26.6                     0.351   31
2       8.000000    183.0           64.0  ...  23.3                     0.672   32
3       1.000000     89.0           66.0  ...  28.1                     0.167   21
4       4.494673    137.0           40.0  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763    10.000000    101.0           76.0  ...  32.9                     0.171   63
764     2.000000    122.0           70.0  ...  36.8                     0.340   27
765     5.000000    121.0           72.0  ...  26.2                     0.245   30
766     1.000000    126.0           60.0  ...  30.1                     0.349   47
767     1.000000     93.0           70.0  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [91]:
y=df.iloc[:,-1]

In [102]:
#y_matrix =  y.values.reshape(-1, 1)

In [103]:
y_matrix

array([[1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0]])

In [93]:
from sklearn.model_selection import train_test_split

In [141]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=23)

In [143]:
X_train,X_test,y_train,y_test

(     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
 559    11.000000     85.0           74.0  ...  30.1                     0.300   35
 185     7.000000    194.0           68.0  ...  35.9                     0.745   41
 54      7.000000    150.0           66.0  ...  34.7                     0.718   42
 427     1.000000    181.0           64.0  ...  34.1                     0.328   38
 190     3.000000    111.0           62.0  ...  22.6                     0.142   21
 ..           ...      ...            ...  ...   ...                       ...  ...
 31      3.000000    158.0           76.0  ...  31.6                     0.851   28
 488     4.000000     99.0           72.0  ...  25.6                     0.294   28
 40      3.000000    180.0           64.0  ...  34.0                     0.271   26
 742     1.000000    109.0           58.0  ...  28.5                     0.219   22
 595     4.494673    188.0           82.0  ...  32.0                     0.682   22

 [514 rows x 8 columns],
      Pregnancies  Glucose  ...  DiabetesPedigreeFunction  Age
 93      4.000000    134.0  ...                     0.277   60
 228     4.000000    197.0  ...                     2.329   31
 424     8.000000    151.0  ...                     0.516   36
 635    13.000000    104.0  ...                     0.465   38
 684     5.000000    136.0  ...                     0.640   69
 ..           ...      ...  ...                       ...  ...
 115     4.000000    146.0  ...                     0.539   61
 183     5.000000     73.0  ...                     0.268   27
 335     4.494673    165.0  ...                     0.259   26
 478     8.000000    126.0  ...                     0.162   39
 235     4.000000    171.0  ...                     0.479   26

 [254 rows x 8 columns],
 559    0
 185    1
 54     0
 427    1
 190    0
       ..
 31     1
 488    0
 40     0
 742    0
 595    1
 Name: Outcome, Length: 514, dtype: int64,
 93     1
 228    0
 424    1
 635    1
 684    0
       ..
 115    1
 183    0
 335    0
 478    0
 235    1
 Name: Outcome, Length: 254, dtype: int64)

In [138]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((514, 8), (254, 8), (514,), (254,))

In [131]:
from sklearn.neighbors import  KNeighborsClassifier

In [132]:
model=KNeighborsClassifier()

In [133]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [134]:
y_predict=model.predict(X_test)

In [135]:
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,f1_score,classification_report

In [136]:
pd.crosstab(y_test,y_predict)

col_0      0   1
Outcome
0        137  28
1         39  50

In [137]:
accuracy_score(y_test,y_predict)

0.7362204724409449

In [121]:
recall_score(y_test,y_predict)

0.5370370370370371

In [123]:
f1_score(y_test,y_predict)

0.585858585858586

In [124]:
precision_score(y_test,y_predict)

0.6444444444444445

In [128]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.77      0.84      0.80       100
           1       0.64      0.54      0.59        54

    accuracy                           0.73       154
   macro avg       0.71      0.69      0.69       154
weighted avg       0.73      0.73      0.73       154

In [129]:
confusion_matrix(y_test,y_predict)

array([[84, 16],
       [25, 29]])