<a href="https://colab.research.google.com/github/vishnudas-1212/machine-learning-easy-algo/blob/main/SMOTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [145]:
df=pd.read_excel('/content/car_data1.xlsx',index_col=0)

In [146]:
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [147]:
from sklearn.preprocessing import LabelEncoder

In [148]:
label=LabelEncoder()

In [149]:
new_df=df.apply(label.fit_transform)

In [150]:
new_df

      buying  maint  doors  persons  lug_boot  safety  class
0          3      3      0        0         2       1      2
1          3      3      0        0         2       2      2
2          3      3      0        0         2       0      2
3          3      3      0        0         1       1      2
4          3      3      0        0         1       2      2
...      ...    ...    ...      ...       ...     ...    ...
1723       1      1      3        2         1       2      1
1724       1      1      3        2         1       0      3
1725       1      1      3        2         0       1      2
1726       1      1      3        2         0       2      1
1727       1      1      3        2         0       0      3

[1728 rows x 7 columns]

In [151]:
x=new_df.iloc[:,:-1]

In [152]:
y=new_df.iloc[:,-1]

In [153]:
from sklearn.model_selection import train_test_split

In [154]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [155]:
y_train.shape

(1382,)

In [156]:
new_df['class'].value_counts()

2    1210
0     384
1      69
3      65
Name: class, dtype: int64

In [157]:
pip install imblearn

Requirement already satisfied: imblearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.6/dist-packages (from imblearn) (0.4.3)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->imbalanced-learn->imblearn) (1.0.0)

In [158]:
from sklearn.neighbors import KNeighborsClassifier

In [159]:
model=KNeighborsClassifier()

In [160]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [161]:
from sklearn.metrics import precision_score,recall_score,accuracy_score,classification_report

In [162]:
accuracy_score(y_test,y_pred)

0.8930635838150289

In [163]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.75      0.80        83
           1       0.60      0.55      0.57        11
           2       0.91      1.00      0.96       235
           3       0.86      0.35      0.50        17

    accuracy                           0.89       346
   macro avg       0.81      0.66      0.71       346
weighted avg       0.89      0.89      0.88       346

In [164]:
from imblearn.over_sampling import SMOTE #import smote

In [165]:
oversampling=SMOTE()  #initializing smote

In [166]:
x_train_over,y_train_over=oversampling.fit_sample(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [167]:
x_train_over.shape,y_train_over.shape

((3900, 6), (3900,))

In [168]:
print(y_train_over.value_counts())

AttributeError: ignored

In [169]:
model.fit(x_train_over,y_train_over)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [170]:
y_pred1=model.predict(x_test) #reinitalization

In [171]:
accuracy_score(y_test,y_pred1)

0.7254335260115607

In [172]:
pd.crosstab(y_test,y_pred1)

col_0   0   1    2   3
class
0      51  19    7   6
1       3   8    0   0
2      44   8  179   4
3       2   2    0  13

In [173]:
x_test.shape

(346, 6)